body{
    background-color: #f8f8fa;
    color: black;
}

h1{
    color: rgba(150, 166, 180, 0.438);
    font-size: 35px;
}

p{
    color: #ffffff;
    font-size:20px;
}

header{
    border-bottom:solid 2px black ;
    font-size: 40px;
    color: rgb(248, 4, 4);
    padding:20px ;
}

.chama-texto{
    margin: 3%;
}

section{
    background-color: rgb(45, 172, 62);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}