body{
    background-color: #f8f8fa;
    color: black;
}

h1{
    color: rgba(150, 166, 180, 0.438);
    font-size: 35px;
}

p{
    color: #ffffff;
    font-size:20px;
}

header{
    border-bottom:solid 2px black ;
    font-size: 40px;
    color: aqua;
    padding:20px ;
}
