body{
    background-color: #f8f8fa;
    color: black;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 35px;
}

p{
    color: #08b8fd;
    font-size:20px;
}

header{
    border-bottom:solid 2px black ;
    font-size: 40px;
    color: rgb(248, 4, 4);
    padding:20px ;
}

.chama-texto{
    margin: 3%;
}

section{
    background-color: rgb(125, 214, 255);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}